
/* STRUCTURE */
html{
	font-size: 16px;
	font-family: helvetica;
	color: #909090;
}
body{
	margin: 0;	
}
header, footer{
	background: aliceblue;
	display: inline-block;
	width: 100%;
	padding: 1.5rem;
	box-sizing: border-box;
}
.app-wrapper{
  max-width: 1750px;
  overflow: hidden;
  margin: 0 auto;
}
.main-content-inner, .sidebar{
	padding: 1.5rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;    
	box-sizing: border-box; 
}
.main-content{
	position: relative;
}
.main-content-inner{
	display: inline-block;
	width: 100%;
}
.sidebar{
	background-color: #f9f9f9;
	position: absolute;
	height: 100%;
	width: 30%;
	top: 0;
	right: -30%;
}
.row{
	float: left;
	width: 100%;
	margin-bottom: 1.5rem;
}
.one-third{
  float: left;
	width: 31%;
	margin: 0 1%;
}
img{
	max-width: 100%;
}

/* TYPE */
h1, h2, h3{
	font-weight: 100;
	color: #3a3a3a;
}
h1{
	font-size: 2.5rem;
}
p{
	line-height: 1.4rem;
}
a{
  color: #3f75a9;
  text-decoration: none;
}
a:hover{
	color: #5a8ec1;
}
ul{
	padding-left: 1.25rem;
}

@media (max-width: 768px){
	.sidebar{
		width: 80%;
		right: -80%;
	}
	.one-third{
		width: 100%;
	}
	.one-third img{
		width: 100%;
	}
}